.App {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}
.home{
  .banner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    h1{
      font-size: 3.5rem;
      font-weight: bold;
      color: #fff;
      padding-left: 15%;
      padding-right: 15%;
    }
  }
}
.navbar{
  z-index: 999;
  .nav-item{
    display: flex;
    align-items: center;
  }
  .textMenu1{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    :hover{
      color: #00adfd !important
    }
  }
  .textMenu1:hover{
      color: #00adfd !important
    }
  .textMenu2{
    color: #212529;
    font-weight: bold;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
  }
  .textMenu2:hover{
    color: #00adfd;
  }
}

.home{
  h1, h2{
    color: white;
  }
  .banner{
    background: linear-gradient(to bottom,rgba(0, 168, 247, 0.26) 0,rgba(0, 168, 247, 0.26) 100%),url('./assets/bg-masthead.jpg');
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}

hr.divider{
      max-width: 3.25rem;
      border-width: .2rem;
}
.bc-default{
  border-color: #00adfd;
}
.bc-white{
  border-color: #fff;
}
.text-1{
  color: white;
  font-size: 1.15rem;
  font-weight: 300!important;
}
.btn-x1{
      padding: 1.25rem 2.25rem !important;
    font-size: .85rem !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    border: none !important;
    border-radius: 10rem !important;
    :hover{
          background-color: #00adfd !important;
    border-color: #00adfd !important;
    }
}

.btn-x1:hover{
  background-color: #00adfd !important;
    border-color: #00adfd !important;
}

.btn-primary {
    color: #00adfd;
    background-color: #00adfd !important;
    border-color: #00adfd !important;
}
.btn-white{
  background-color: #00adfd !important;
  color:white !important;
}
.bg-default{
  background-color: #00adfd;
  border-color: #00adfd;
}
.bg-default:hover{
  background-color: #00adfd;
  border-color: #00adfd;
}
.mx-8{
    padding: 8rem 0 !important;
}
.h2-default{
  color: #00adfd !important;
  font-weight: bold;
}
.button-article{
  color: #0056b3;
  background: transparent;
    border: none;
}

.button-article:hover{
  color: #0056b3;
  text-decoration: underline;
}

.button-article:focus{
      outline: 0px auto -webkit-focus-ring-color;
}


.page-section{
      text-align: center;
      padding: 8rem 0;


}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}