.App {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}
.home{
  .banner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    h1{
      font-size: 3.5rem;
      font-weight: bold;
      color: #fff;
      padding-left: 15%;
      padding-right: 15%;
    }
  }
}
.navbar{
  z-index: 999;
  .nav-item{
    display: flex;
    align-items: center;
  }
  .textMenu1{
    color: rgba(255,255,255,.7);
    font-weight: bold;
    text-decoration: none;
    :hover{
      color: white !important
    }
  }
  .textMenu1:hover{
      color: white !important
    }
  .textMenu2{
    color: #212529;
    font-weight: bold;
    text-decoration: none;
  }
  .textMenu2:hover{
    color: #00adfd;
  }
}

.home{
  h1, h2{
    color: white
  }
  .banner{
    background: linear-gradient(to bottom,rgba(0, 168, 247, 0.26) 0,rgba(0, 168, 247, 0.26) 100%),url('./assets/bg-masthead.jpg');
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}

hr.divider{
      max-width: 3.25rem;
      border-width: .2rem;
}
.bc-default{
  border-color: #00adfd;
}
.bc-white{
  border-color: #fff;
}
.text-1{
  color: rgba(255,255,255,.75);
  font-size: 1.15rem;
  font-weight: 300!important;
}
.btn-x1{
      padding: 1.25rem 2.25rem !important;
    font-size: .85rem !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    border: none !important;
    border-radius: 10rem !important;
    :hover{
          background-color: #00adfd !important;
    border-color: #00adfd !important;
    }
}

.btn-x1:hover{
  background-color: #00adfd !important;
    border-color: #00adfd !important;
}

.btn-primary {
    color: #fff;
    background-color: #00adfd !important;
    border-color: #00adfd !important;
}
.btn-white{
  background-color: #fff !important;
  color: black !important;
}
.bg-default{
  background-color: #00adfd;
  border-color: #00adfd;
}
.bg-default:hover{
  background-color: #00aaba;
  border-color: #00aaba;
}
.mx-8{
    padding: 8rem 0 !important;
}
.h2-default{
  color: #00adfd !important;
  font-weight: bold;
}
.button-article{
  color: #0056b3;
  background: transparent;
    border: none;
}

.button-article:hover{
  color: #0056b3;
  text-decoration: underline;
}

.button-article:focus{
      outline: 0px auto -webkit-focus-ring-color;
}